@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
}